@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <title>系统登录</title>
    @Scripts.Render("~/Content/js")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        @Html.AntiForgeryToken()
    </div>
    <div id="FormArea">
        <table id="LoginTb" style="margin-top: 10px; background: #fff; width: 100%; height: 230px; border: 1px #ccc solid;">
            <tr>
                <td colspan="2" style="font-size: 18px; font-weight: bold; padding: 5px 20px;">
                    欢迎登录
                </td>

            </tr>
            <tr>
                <td style="width: 80px; text-align: right">
                    用户名：
                </td>
                <td>
                    <input id="UserName" name="UserName" type="text" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">
                    密 码：
                </td>
                <td>
                    <input id="Password" name="Password" type="password" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right">
                    验证码：
                </td>
                <td id="td-codeImg">
                    <input style="width: 50px" type="text" name="ValidateCode" id="ValidateCode" />
                    <img id="codeImg" alt="刷新验证码！" style="cursor: pointer;" src="/Account/GetValidateCode" onclick='refreshCode()' />
                    <a href="javascript:void(0)" style="color: blue" onclick="refreshCode()">看不清？</a>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <table style="width: 100%;">
                        <tr id="loadingMsg">
                            <td style="width: 40px;">&nbsp;</td>
                            <td>
                                <div id="mes" style="height: 38px; display: none">
                                    <p style="color: red; height: 100%; padding-top: 8px">
                                        <i class="fa fa-exclamation fa-lg" aria-hidden="true"></i>&nbsp;xxx
                                    </p>
                                </div>
                                <div id="Loading" style="display: none; position: relative; height: 38px;">
                                    <p style="color: green; height: 100%; padding-top: 8px">
                                        <i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>&nbsp;加载中...
                                    </p>

                                </div>
                            </td>
                            <td style="width: 100px;">
                                <button type="submit" id="signIn" class="layui-btn layui-btn-primary layui-btn-small"><i class="fa fa-check fa-lg" aria-hidden="true"></i>&nbsp;登录</button>
                            </td>
                        </tr>

                    </table>

                </td>
            </tr>

        </table>
    </div>
    <div style="background: #f1f1f1; height: 30px; width: 100%; text-align: center; line-height: 30px; border-top: 1px #ccc solid; bottom: 0; position: fixed; left: 0">
        <strong>Copyright © 2017-2018 YeangEason.</strong>
        All rights
        reserved.

    </div>
</body>
</html>
<style type="text/css">
    body {
        letter-spacing: 1px;
        color: #444;
        /*margin-bottom: 30px;*/
        background-color: #f1f1f1;
    }

    * {
        box-sizing: border-box;
    }

    div {
        box-sizing: border-box;
    }

    /*p {
        margin: 0;
        padding: 16px;
    }*/

    h2 {
        margin: 0;
        height: 100%;
        padding: 16px 0;
    }

    #FormArea {
        position: relative;
        width: 320px;
        /*border: 2px solid red;*/
        margin: 200px auto;
    }

    .img-loading {
        box-sizing: border-box;
        position: relative;
        height: 100%;
        /*border: 2px solid red;*/
    }
</style>
<script type="text/javascript">

    //生成唯一的GUID
    function getGuid() {
        var s4 = function () {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        };
        return s4() + s4() + s4() + "-" + s4();
    }

    function refreshCode() {
        var oldSrc = $('#codeImg').attr('src');
        var newSrc = oldSrc.split('?')[0] + '?' + getGuid();
        $('#codeImg').attr('src', newSrc);
    }

    AddAntiForgeryToken = function (data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    $(function () {

        $('#signIn').click(function () {
            var userName = $('#UserName').val();
            var password = $('#Password').val();
            var validateCode = $('#ValidateCode').val();

            $.ajax({
                type: 'Post',
                url: '/Account/Login',
                headers: headers,
                cache: false,
                data: AddAntiForgeryToken({ UserName: userName, Password: password, ValidateCode: validateCode }),
                dataType: 'Json',
                success: function (data) {
                    //...
                }
            });
        });

    });

</script>